### 패키지 설치

In [2]:
!pip install torch==1.8.1

Requirement already satisfied: torch==1.8.1 in c:\users\yj-hwang\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy in c:\users\yj-hwang\anaconda3\lib\site-packages (from torch==1.8.1) (1.21.2)
Requirement already satisfied: typing-extensions in c:\users\yj-hwang\anaconda3\lib\site-packages (from torch==1.8.1) (4.2.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\yj-hwang\anaconda3\lib\site-packages)
WARNING: There was an error checking the latest version of pip.

### 사용 데이터를 grownet 코드에 맞게 가공

#### 데이터 load

In [3]:
import pandas as pd
data = pd.read_csv('housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### 범주형 변수를 수치형으로 변환

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le = le.fit(data['ocean_proximity'])  
data['ocean_proximity'] = le.transform(data['ocean_proximity'])
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3

In [5]:
data['ocean_proximity'].value_counts()

0    9136
1    6551
4    2658
3    2290
2       5
Name: ocean_proximity, dtype: int64

#### na 처리

In [6]:
data.isnull().sum()   # na 확인

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
data = data.dropna(axis=0)   # na 값이 포함된 행은 제거

In [8]:
data.isnull().sum()   # na 값이 제거되었는지 확인

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

#### train, test set split 및 데이터 저장

In [10]:
# train, test split
from sklearn.model_selection import train_test_split
X = data.drop('median_house_value', axis=1)
y = data['median_house_value']
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=777)

# save files
import numpy as np
np.savez('train', labels = train_y, features = train_x )
np.savez('test', labels = test_y, features = test_x)

# 파일을 로드하여 잘 저장되었는지 확인
t = np.load('train.npz')
t['features']

array([[-1.1973e+02,  3.6750e+01,  3.9000e+01, ...,  3.0300e+02,
         3.1719e+00,  1.0000e+00],
       [-1.1815e+02,  3.4150e+01,  4.9000e+01, ...,  1.7200e+02,
         2.3654e+00,  0.0000e+00],
       [-1.2251e+02,  3.7530e+01,  1.7000e+01, ...,  2.4100e+02,
         7.2929e+00,  4.0000e+00],
       ...,
       [-1.2100e+02,  3.7610e+01,  3.6000e+01, ...,  5.5000e+02,
         2.2730e+00,  1.0000e+00],
       [-1.2248e+02,  3.7730e+01,  3.8000e+01, ...,  7.7800e+02,
         3.1359e+00,  4.0000e+00],
       [-1.1734e+02,  3.3150e+01,  1.7000e+01, ...,  1.0620e+03,
         3.3536e+00,  4.0000e+00]])

#### 설명변수 dimension 확인

In [12]:
train_x.shape[1]

9

In [15]:
!python -u main_reg_cv.py \
    --feat_d 9 \
    --hidden_d 32 \
    --boost_rate 1 \
    --lr 0.005 \
    --L2 .0e-3 \
    --num_nets 40 \
    --data $california \
    --tr train.npz \
    --te test.npz \
    --batch_size 2048 \
    --epochs_per_stage 1 \
    --correct_epoch 1 \
    --normalization True \
    --cv True \
    --out_f california_model.pth \
    --filename california_pred.csv

9
9
Creating Validation set!

#Train: 15528, #Val: 818 #Test: 4087
$california training and test datasets are loaded!
Stage - 0, training time:  4.3 sec, model MSE loss:  115844.56866, Ensemble Net MSE Loss:  0.00000
Stage: 0  RMSE@Tr: 115844.48548, RMSE@Val: 114705.60133, RMSE@Te: 114011.85510
Stage - 1, training time:  9.7 sec, model MSE loss:  115843.33487, Ensemble Net MSE Loss:  115841.60176
Stage: 1  RMSE@Tr: 115841.55001, RMSE@Val: 114702.82940, RMSE@Te: 114009.03038
Stage - 2, training time:  8.9 sec, model MSE loss:  115839.64761, Ensemble Net MSE Loss:  115837.18180
Stage: 2  RMSE@Tr: 115834.30217, RMSE@Val: 114696.08007, RMSE@Te: 114002.04686
Stage - 3, training time:  10.0 sec, model MSE loss:  115834.67814, Ensemble Net MSE Loss:  115831.74741
Stage: 3  RMSE@Tr: 115827.17723, RMSE@Val: 114688.99107, RMSE@Te: 113994.93266
Stage - 4, training time:  10.6 sec, model MSE loss:  115828.17087, Ensemble Net MSE Loss:  115824.54181
Stage: 4  RMSE@Tr: 115817.01357, RMSE@Val: 114679.23181, RMSE@Te: 113984.92981
Stage - 5, training time:  10.7 sec, model MSE loss:  115819.62494, Ensemble Net MSE Loss:  115814.82904
Stage: 5  RMSE@Tr: 115805.14978, RMSE@Val: 114667.75714, RMSE@Te: 113973.28641
Stage - 6, training time:  11.2 sec, model MSE loss:  115808.45283, Ensemble Net MSE Loss:  115802.71691
Stage: 6  RMSE@Tr: 115789.43383, RMSE@Val: 114652.51683, RMSE@Te: 113957.71960
Stage - 7, training time:  11.0 sec, model MSE loss:  115794.88046, Ensemble Net MSE Loss:  115787.85525
Stage: 7  RMSE@Tr: 115773.18469, RMSE@Val: 114637.10924, RMSE@Te: 113941.75073
Stage - 8, training time:  11.1 sec, model MSE loss:  115778.27105, Ensemble Net MSE Loss:  115770.15886
Stage: 8  RMSE@Tr: 115751.49576, RMSE@Val: 114616.41516, RMSE@Te: 113920.53932
Stage - 9, training time:  12.1 sec, model MSE loss:  115758.80804, Ensemble Net MSE Loss:  115749.28837
Stage: 9  RMSE@Tr: 115722.46263, RMSE@Val: 114588.25127, RMSE@Te: 113891.97858
Stage - 10, training time:  10.9 sec, model MSE loss:  115735.53000, Ensemble Net MSE Loss:  115724.11806
Stage: 10  RMSE@Tr: 115684.72999, RMSE@Val: 114552.03995, RMSE@Te: 113854.71837
Stage - 11, training time:  11.9 sec, model MSE loss:  115707.94790, Ensemble Net MSE Loss:  115694.76843
Stage: 11  RMSE@Tr: 115633.74238, RMSE@Val: 114504.29037, RMSE@Te: 113804.64722
Stage - 12, training time:  11.9 sec, model MSE loss:  115675.97810, Ensemble Net MSE Loss:  115661.28110
Stage: 12  RMSE@Tr: 115595.05503, RMSE@Val: 114465.77578, RMSE@Te: 113766.16130
Stage - 13, training time:  13.5 sec, model MSE loss:  115639.42735, Ensemble Net MSE Loss:  115622.70046
Stage: 13  RMSE@Tr: 115514.41315, RMSE@Val: 114386.97996, RMSE@Te: 113686.43472
Stage - 14, training time:  12.7 sec, model MSE loss:  115597.74530, Ensemble Net MSE Loss:  115578.99604
Stage: 14  RMSE@Tr: 115452.82811, RMSE@Val: 114329.48428, RMSE@Te: 113626.47128
Stage - 15, training time:  13.2 sec, model MSE loss:  115550.57782, Ensemble Net MSE Loss:  115538.39239
Stage: 15  RMSE@Tr: 115497.45071, RMSE@Val: 114372.97807, RMSE@Te: 113670.67998
Stage - 16, training time:  13.3 sec, model MSE loss:  115522.53993, Ensemble Net MSE Loss:  115510.63124
Stage: 16  RMSE@Tr: 115461.83899, RMSE@Val: 114339.64506, RMSE@Te: 113635.97402
Stage - 17, training time:  13.4 sec, model MSE loss:  115493.85536, Ensemble Net MSE Loss:  115482.34478
Stage: 17  RMSE@Tr: 115412.77705, RMSE@Val: 114289.48172, RMSE@Te: 113586.64485
Stage - 18, training time:  13.5 sec, model MSE loss:  115463.92756, Ensemble Net MSE Loss:  115450.98262
Stage: 18  RMSE@Tr: 115392.89517, RMSE@Val: 114272.11649, RMSE@Te: 113567.52212
Stage - 19, training time:  13.7 sec, model MSE loss:  115431.38320, Ensemble Net MSE Loss:  115417.84913
Stage: 19  RMSE@Tr: 115354.44668, RMSE@Val: 114234.59931, RMSE@Te: 113530.02465
Stage - 20, training time:  15.5 sec, model MSE loss:  115397.03589, Ensemble Net MSE Loss:  115382.89562
Stage: 20  RMSE@Tr: 115305.90641, RMSE@Val: 114187.58237, RMSE@Te: 113482.18341
Stage - 21, training time:  16.0 sec, model MSE loss:  115361.10845, Ensemble Net MSE Loss:  115345.68007
Stage: 21  RMSE@Tr: 115228.17034, RMSE@Val: 114111.43017, RMSE@Te: 113404.86677
Stage - 22, training time:  15.5 sec, model MSE loss:  115322.64172, Ensemble Net MSE Loss:  115306.49936
Stage: 22  RMSE@Tr: 115217.21812, RMSE@Val: 114103.54652, RMSE@Te: 113395.45755
Stage - 23, training time:  15.9 sec, model MSE loss:  115281.94344, Ensemble Net MSE Loss:  115264.58365
Stage: 23  RMSE@Tr: 115139.04267, RMSE@Val: 114029.40365, RMSE@Te: 113318.90405
Stage - 24, training time:  17.4 sec, model MSE loss:  115238.18178, Ensemble Net MSE Loss:  115220.03741
Stage: 24  RMSE@Tr: 115092.04235, RMSE@Val: 113984.94329, RMSE@Te: 113272.93989
Stage - 25, training time:  16.7 sec, model MSE loss:  115192.96494, Ensemble Net MSE Loss:  115173.25902
Stage: 25  RMSE@Tr: 114990.09899, RMSE@Val: 113882.42077, RMSE@Te: 113170.07096
Stage - 26, training time:  16.6 sec, model MSE loss:  115143.49407, Ensemble Net MSE Loss:  115124.25282
Stage: 26  RMSE@Tr: 114900.03599, RMSE@Val: 113797.77713, RMSE@Te: 113080.95054
Stage - 27, training time:  17.8 sec, model MSE loss:  115093.04044, Ensemble Net MSE Loss:  115071.33924
Stage: 27  RMSE@Tr: 114885.90420, RMSE@Val: 113776.67838, RMSE@Te: 113065.88126
Stage - 28, training time:  19.0 sec, model MSE loss:  115038.40478, Ensemble Net MSE Loss:  115015.54341
Stage: 28  RMSE@Tr: 114790.27087, RMSE@Val: 113691.95602, RMSE@Te: 112973.29780
Stage - 29, training time:  17.1 sec, model MSE loss:  114981.60929, Ensemble Net MSE Loss:  114956.71657
Stage: 29  RMSE@Tr: 114687.21063, RMSE@Val: 113592.82456, RMSE@Te: 112871.73889
Stage - 30, training time:  18.0 sec, model MSE loss:  114920.95559, Ensemble Net MSE Loss:  114906.98068
Stage: 30  RMSE@Tr: 114787.77008, RMSE@Val: 113690.68155, RMSE@Te: 112973.12105
Stage - 31, training time:  18.7 sec, model MSE loss:  114887.18370, Ensemble Net MSE Loss:  114874.50752
Stage: 31  RMSE@Tr: 114753.05475, RMSE@Val: 113661.12609, RMSE@Te: 112939.86449
Stage - 32, training time:  18.0 sec, model MSE loss:  114854.88697, Ensemble Net MSE Loss:  114841.98078
Stage: 32  RMSE@Tr: 114735.29343, RMSE@Val: 113644.30009, RMSE@Te: 112924.09174
Stage - 33, training time:  17.7 sec, model MSE loss:  114822.07297, Ensemble Net MSE Loss:  114808.14137
Stage: 33  RMSE@Tr: 114675.21892, RMSE@Val: 113585.13029, RMSE@Te: 112863.63255
Stage - 34, training time:  18.0 sec, model MSE loss:  114786.12453, Ensemble Net MSE Loss:  114772.40319
Stage: 34  RMSE@Tr: 114632.14275, RMSE@Val: 113545.68166, RMSE@Te: 112821.40393
Stage - 35, training time:  19.3 sec, model MSE loss:  114751.68980, Ensemble Net MSE Loss:  114736.61503
Stage: 35  RMSE@Tr: 114620.15605, RMSE@Val: 113535.45434, RMSE@Te: 112810.83409
Stage - 36, training time:  19.4 sec, model MSE loss:  114714.83679, Ensemble Net MSE Loss:  114699.93116
Stage: 36  RMSE@Tr: 114538.78159, RMSE@Val: 113449.05803, RMSE@Te: 112727.97019
Stage - 37, training time:  19.7 sec, model MSE loss:  114676.85542, Ensemble Net MSE Loss:  114661.72338
Stage: 37  RMSE@Tr: 114553.03399, RMSE@Val: 113471.26903, RMSE@Te: 112744.84212
Stage - 38, training time:  19.1 sec, model MSE loss:  114637.69889, Ensemble Net MSE Loss:  114622.28154
Stage: 38  RMSE@Tr: 114456.03562, RMSE@Val: 113373.26330, RMSE@Te: 112647.50430
Stage - 39, training time:  20.1 sec, model MSE loss:  114599.01996, Ensemble Net MSE Loss:  114583.63573
Stage: 39  RMSE@Tr: 114374.13806, RMSE@Val: 113291.64234, RMSE@Te: 112565.36618
Best validation stage: 39  RMSE@Tr: 114374.14062, final RMSE@Te: 112565.36719